.similar-product-item-container {
}
.similar-product-img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.similar-product-title {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #1e293b;
}
.similar-product-brand {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #475569;
}
.price-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.similar-product-price {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #12022f;
}
.similar-product-rating-container {
  background-color: #3b82f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 7px;
}
.similar-product-rating {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
}
.similar-product-star-img {
  height: 20px;
  width: 20px;
  margin-left: 4px;
}
